@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
}

html,
body {
  font-family: "Iceberg", cursive;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  background-image: radial-gradient(
    at bottom left,
    rgb(77, 77, 77) 0%,
    rgb(0, 0, 0) 100%
  );
  background-color: #242424;
}

table {
  margin: auto;
}

td {
  text-align: center;
  width: fit-content;
}

.header {
  font-size: 18px;
  color: white;
  height: fit-content;
  padding: 0.7vw 4vw;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 6vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navLink {
  color: white;
  margin: 4vh 1vw;
  border-bottom-width: thick;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.navLink:hover {
  color: white;
  border-bottom-width: thick;
  border-bottom-style: solid;
  border-bottom-color: #c92b2b;
}

.navElem {
  color: white;
  width: fit-content;
  margin: 2.9vh 0;
}

.navElem:hover {
  font-weight: bold;
  color: darkred;
}

.backButton {
  border-radius: 1vw;
  color: white;
  border: none;
  margin-bottom: 10vh;
  font-size: 20px;
  font-family: Avenir, serif;
  background-color: transparent;
  padding: 1vh;
}

.backButton:hover {
  background-color: rgba(147, 147, 147, 0.2);
  padding:2vh;
  border-radius: 30px;
  transition: 1s;
}

.formSubmitButton {
  border-radius: 20px;
  color: white;
  border: none;
  margin-bottom: 15vh;
  max-width: 20vw;
  font-size: 20px;
  background-image: linear-gradient(to top right, rgb(246, 65, 65), rgb(255, 123, 123));
  background-color: transparent;
  padding: 2vh 4vw 2vh;
}

.formSubmitButton:hover {
  background-color: rgba(147, 147, 147, 0.2);
  transition: 1s;
}

.mainBody {
  animation: fadeIn 2s;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5vh;
}

.resultsMainBody {
  animation: fadeIn 2s;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3vh;
}

.aboutBody {
  animation: fadeIn 2s;
  font-family: Avenir, serif;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5vh 12vw 18vh;
  mask-image: linear-gradient(to bottom, transparent 0%, black 48px, black calc(100% - 48px), transparent 100%);
}

.aboutDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 2vh;
  margin-top: 2vh;
  padding: 40px;
  background-color: rgba(147, 147, 147, 0.05);
}

.aboutEmail {
  display: inline-block;
  color: red;
  white-space: nowrap;
  text-decoration-line: none;
    width: fit-content;
}

.aboutEmail:link {
  white-space: nowrap;
  text-decoration-line: none;
  width: fit-content;
}

.aboutEmail:hover {
  color: darkred;
  transition: 1s;
}

.aboutHeader {
  font-family: "Iceberg", serif;
  animation: fadeIn 2s;
  font-size: 30px;
  padding-top: 0;
}

.reviewBody {
  animation: fadeIn 2s;
  padding: 12vh 18vw;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.iframeResult {
  width: 50%;
  margin: 0 2% 0 2vw;
  height: 480px;
}

.iframeResTxt {
  width: 20%;
  height: 420px;
  margin: 2vh 2% 0;
}

.iframeTitle {
  padding-top: 4vh;
  padding-bottom: 1vh;
  font-size: 55px;
  font-weight: bold;
}

iframe {
  border-radius: 12px;
}

.buttonsBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 3vw 3vw;
  padding-left: 4vw;
  color: white;
}

.sliderUIDiv {
  display: flex;
  margin: 0vh 10vw;
  flex-direction: column;
  justify-content: center;
}

.slider {
  margin-bottom: 15vh;
  margin-top: 6vh;
  width: 300px;
  padding-right: 13vw;
  padding-left: 13vw;
}

.title {
  width: fit-content;
  /*margin: auto;*/
  font-size: min(10vh, 43px);
  outline: none;
  border-color: #323232;
  color: white;
}

.footer {
  font-family: Avenir, serif;
  margin-bottom: 10vh;
  font-size: 18px;
  color: white;
  text-align: center;
  margin-right: 15vw;
  margin-left: 15vw;
}

.questionsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBody {
  animation: fadeIn 2s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-top: 12vh;
  padding-left: 12vw;
  padding-right: 12vw;
  align-items: flex-start;
}

.logoutBody {
  animation: fadeIn 2s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  font-size: 20px;
}

.footer {
  margin-bottom: 10vh;
}

.subtitle {
  font-size: 60px;
  margin-bottom: 20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  width: fit-content;
  height: fit-content;
  border-right: .15em solid #c92b2b; /* The typwriter cursor */
  animation:
          typing 2s steps(24, end),
          blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 64% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #c92b2b; }
}

.subtext {
  padding-top: 0;
  padding-bottom: 5vh;
  font-size: 20px;
}

.serverStatusDiv {
  color: white;
  width: auto;
  height: min(4vh, 40px);
  font-size: min(4vh, 18px);
  margin: 0 auto;
  display: table;
  padding: 0 0.5%;
  border-color: #323232;
}

.refreshButton {
  height: 100%;
  padding: 1vh;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.reviewSubmitButton {
  height: 100%;
  padding: 1vh;
  border-radius: 10px;
  margin-bottom: 2vh;
  max-width: 200px;
}

.submitButton {
  height: fit-content;
  padding: 2vh 2vw;
  border-radius: 25px;
  margin-bottom: 20vh;
  max-width: 10vw;
  font-size: 20px;
  outline-width: 0px;
  background-color: rgba(175, 175, 175, 0.88);
  border-color: #807c7c;
  border-width: 0;
}

.LoginButton {
  width: 230px;
  height: 60px;
  padding: 2vh;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: #bdbdbd 0 -0.5vh 0 inset;
  border-color: #bbbbbb;
  color: #242424;
}

.commandsList {
  width: auto;
  height: min(4vh, 40px);
  font-size: min(4vh, 18px);
  margin: 0 auto;
  display: table;
  padding: 0 0.5%;
  outline: none;
  border-color: #323232;
}

button {
  border: min(2px, 0.5vh) solid rgb(169, 169, 169);
  border-radius: min(5px, 1vh);
  outline: none;
}

.refreshButton:hover {
  box-shadow: #ff5757 0 -0.5vh 0 inset;
  border-color: #ff5757;
  transition: border-color 0.25s, box-shadow 0.25s;
  outline: none;
}

.reviewSubmitButton:hover {
  box-shadow: #ff5757 0 -0.5vh 0 inset;
  border-color: #ff5757;
  transition: border-color 0.25s, box-shadow 0.25s;
  outline: none;
}

.LoginButton:hover {
  box-shadow: #ff5757 0 -0.5vh 0 inset;
  border-color: #ff5757;
  transition: border-color 0.25s, box-shadow 0.25s;
  outline: none;
}

button:focus,
button:focus-visible {
  border-color: #579dff;
  transition: border-color 0.1s, box-shadow 0.25s;
  outline: none;
}

button:active:focus,
button:active:focus-visible {
  box-shadow: #579dff 0 -10vh 0 inset;
  border-color: #ffffff;
  transition: border-color 0.1s, box-shadow 0.25s;
  outline: none;
}

input:hover,
.repl-history:hover:not(:has(.HistoryEntry:hover)),
.HistoryEntryCommand:hover,
.HistoryEntryOutput:hover,
.title:hover,
.serverStatusDiv:hover:not(:has(.refreshButton:hover)),
.commands-list:hover {
  border: solid #579dff;
  border-width: min(2px, 0.5vh);
  border-radius: min(5px, 1vh);
  transition: border-color 0.25s;
  outline: none;
}

input:focus,
input:focus-visible,
.repl-history:focus,
.repl-history:focus-visible,
.HistoryEntryCommand:focus,
.HistoryEntryCommand:focus-visible,
.HistoryEntryOutput:focus,
.HistoryEntryOutput:focus-visible,
.title:focus,
.serverStatusDiv:focus,
.commands-list:focus {
  border: solid #579dff;
  border-width: min(2px, 0.5vh);
  border-radius: min(5px, 1vh);
  transition: border-color 0.25s;
  outline: none;
}

input:focus:hover,
input:focus-visible:hover,
.repl-history:focus:hover,
.repl-history:focus-visible:hover,
.HistoryEntryCommand:focus:hover,
.HistoryEntryCommand:focus-visible:hover,
.HistoryEntryOutput:focus:hover,
.HistoryEntryOutput:focus-visible:hover,
.title:focus:hover,
.serverStatusDiv:focus:hover,
.commands-list:focus:hover {
  cursor: text;
  outline: none;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.rating{
  display : flex;
  color: red;
}

.rating input{
  position : absolute;
  left     : -100vw;
}

.rating label{
  width      : 48px;
  height     : 48px;
  padding    : 25px 0 0;
  overflow   : hidden;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
  color: white;
}

.rating:not(:hover) input:focus-visible + label{
}

.resultPageButton {
  height: 100%;
  padding: 1.4vh;
  border-radius: 15px;
  background-color: #625f5f;
  border-color: #807c7c;
  border-width: 0;
  margin: 2px;
}

.resultPageButton:hover {
  box-shadow: none;
  border-color: #bbbbbb;
  transition-duration: 1s;
}

.resultPageButton:link {
  color: black;
}

.aboutBody:link {
  color: white;
}

@media only screen and (max-width: 600px) {
  .sliderUIDiv {
    display: flex;
    margin: 0vh 10vw;
    flex-direction: column;
    justify-content: center;
  }

  .slider {
    margin-bottom: 0vh;
    margin-top: 5vh;
    width: 60vw;
  }

  .resultsMainBody {
    animation: fadeIn 2s;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0vh;
  }

  .iframeResult {
    margin: 0 2%;
    width: 80%;
    height: 370px;
    max-font-size: 10px;
    text-align: center;
    padding-top: 4vh;
  }

  .iframeResTxt {
    margin: 0 2%;
    width: 80%;
    height: 370px;
    max-font-size: 10px;
    text-align: center;
    padding-top: 4vh;
  }

  .aboutBody {
    animation: fadeIn 2s;
    font-family: Avenir, serif;
    padding: 3vh 10vw 5vh;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .loginBody {
    animation: fadeIn 2s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 12vh;
    align-items: center;
    padding-left: 0vh;
    padding-right: 0vh;
  }

  .subtext {
    font-family: Avenir;
    font-size: 15px;
    padding-top: 3vh;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .subtitle {
    font-size: 28px;
    margin-bottom: 30px;
    height: fit-content;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 95% }
  }

  .title {
    width: fit-content;
    font-size: min(10vh, 30px);
    outline: none;
    border-color: #323232;
    color: white;
  }

  .iframeTitle {
    font-size: 30px;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .header {
    font-size: 18px;
    color: white;
    height: fit-content;
    padding: 0.7vw 4vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
  }

  .reviewBody {
    animation: fadeIn 2s;
    padding: 4vh 18vw;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .formSubmitButton {
    border-radius: 15px;
    color: white;
    border: none;
    margin-bottom: 10vh;
    margin-top: 10vh;
    max-width: 40vw;
    font-size: 20px;
    font-family: Avenir, serif;
    background-color: transparent;
    padding: 2vh 8vw;
  }

  .mainBody {
    animation: fadeIn 2s;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer {
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 5vh 5vw 10vh;
  }

  .logoutBody {
    animation: fadeIn 2s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
    font-size: 18px;
  }

  .aboutHeader {
    font-family: "Iceberg", serif;
    animation: fadeIn 2s;
    font-size: 22px;
    padding-top: 0;
  }

  .aboutDiv {
    padding-right: 30px;
    padding-left: 30px;
  }
}