.questionItem {
  width: 98%;
  text-align: center;
  font-size: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
  wrap-option: nowrap;
}
a:hover {
  color: black;
}

.question {
  font-size: 26px;
  width: fit-content;
}
.questionText {
  color:white;
  font-size: 20px;
}
.questionText:hover {
  color:white;
}
.genreQuestionText {
  color:white;
  font-size: 20px;
  background-color: #625f5f;
  border-radius: 1vw;
  padding: 0.4vw 1vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  vertical-align: middle;
}

.genreQuestionText:hover {
  font-weight: bold;
  background-color: rgba(98, 95, 95, 0.88);
}

img{
  max-width: 400px;
  max-height: 35vh;
  border-radius: 1vw;
}

.choicesList {
  display: flex;
  flex-flow: nowrap row;
  overflow-y: hidden;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}

.modeChoicesList {
  display: flex;
  flex-flow: wrap row;
  overflow-y: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 8vh 2vw 20vh;
  max-width: 1000px;
}

.genreList {
  display: flex;
  overflow-y:hidden;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  padding: 10vh 10vw 10vw;
  justify-content: center;
}

.SliderContainer {
  margin-bottom: 15vh;
  color: white;
}

label {
  display: block;
  text-align: center;
  font-size: 40px;
  padding: 0 0 0;
  width: max-content;
  height: max-content;
}

.choice {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;

  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  margin: 5vh 0.5vw 15vh;
  padding: 5vh 3vw 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1vw;
  border-color: rgba(0, 0, 0, 0);

  background-color: rgba(147, 147, 147, 0.2);
}
.choice:hover {
  background-color: rgba(147, 147, 147, 0.6);
}
.choice:after,
.choice:before {
  backface-visibility: hidden;
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.choice:hover:after,
.choice:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.choice:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.modeChoice {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;

  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  width: fit-content;
  min-width: 240px;
  max-width: 400px;
  height:fit-content;
  margin: 0 0.5vw 2vh;
  padding: 2vh 2vw 2vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: rgba(0, 0, 0, 0);

  border-radius: 1vw;
  background-color: rgba(147, 147, 147, 0.2);
}
.modeChoice:hover {
  background-color: rgba(98, 95, 95, 0.88);
}
.modeChoice:after,
.modeChoice:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.modeChoice:hover:after,
.modeChoice:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.modeChoice:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.genreChoice {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;

  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0);
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  align-items: center;
}

input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.inputDiv {
  opacity:1;
  visibility: visible;
  max-width: 60vw;
  min-width: 60vw;
  max-height: 18vh;
  min-height: 3vh;
  border-radius: 15px;
  font-size: 16px;
  position: relative;
  text-after-overflow: new-row;
}

@media only screen and (max-width: 600px) {
  .modeChoice {
    border-radius: 15px;
  }
  .choice {
    border-radius: 15px;
  }
  .question {
    font-size: 25px;
    padding-right: 10vw;
    padding-left: 10vw;
  }
  .questionText {
    color:white;
    font-size: 18px;
  }
  img{
    max-width: 300px;
    max-height: 35vh;
    border-radius: 13px;
  }
  .questionItem {
    width: 98%;
    text-align: center;
    font-size: 40px;
    overflow-y: auto;
    height: fit-content;
  }

  .genreList {
    display: flex;
    overflow-y:hidden;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    padding: 5vh 9vw 9vw;
    justify-content: center;
    font-size: 15px;
  }

  .modeChoicesList {
    display: flex;
    flex-flow: wrap row;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: center;
    padding: 5vh 2vw 10vh;
  }
}